#**
 *  Query settings for grouping by fields,
 *  e.g.: Manufacturer or Popularity
 *#

#set($queryOpts = $params.get("queryOpts"))

#if($queryOpts == "group")
  <div>
    #set($groupF = $request.params.get('group.field'))

    <label #annTitle("Add the &group.field parameter. Multiselect is supported")>
      Group By:
      <select id="group" name="group.field" multiple="false">
        ## TODO: Handle multiple selects correctly
        ## TODO: fix empty / "No Group" selection

        <option value="host"
          #if($groupF == 'host')selected="true"#end
        >
          Host
        </option>



      </select>
    </label>

    <input type="hidden" name="group" value="true"/>

  </div>

#end
